<footer class="footer">
  <div class="footer__main">
    <div class="footer__content">
      <div class="footer__item">
        <h4 class="footer__company">Aenean Vitae OÜ</h4>
      </div>
      <div class="footer__item">
        <span class="footer__registry">Reg. kood 12345678</span>
      </div>
      <div class="footer__item">
        <span class="footer__address">Pärnu mnt 20a, 10141 Tallinn</span>
      </div>
      <div class="footer__item">
        <!-- angular has issues interpreting the @ symbol, so had to use an html entity instead -->
        <a href="mailto:info@aeneanvitae.ee" class="footer__email">info&#64;aeneanvitae.ee</a>
      </div>
    </div>
  </div>
</footer>